<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/exam-card/sign">
    <div>
        <label for="username">Name</label>
        <input type="text" id=username name="username"/>

        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>

        <br>

        <input type="submit" value="Sign in"/>
    </div>

</form>

</body>
</html>